name: Build TCET Linux ISO

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    
    permissions:
      contents: write

    container:
      image: archlinux:latest
      options: --privileged
      
    steps:
      - uses: actions/checkout@v3
      
      - name: Set current date as environment variable
        run: echo "DATE=`date +'%Y.%m.%d'`" >>$GITHUB_ENV
      
      - name: Synchronise package repositories and install archiso
        run: pacman -Syu --noconfirm archiso mkinitcpio-archiso git squashfs-tools

      - name: Build TCET Linux ISO
        run: |
          pacman -S --noconfirm --needed archlinux-keyring wget
          wget https://raw.githubusercontent.com/theCode-Breaker/arch-linux-gui-gnome/master/pacman.conf -O /etc/pacman.conf
          #echo "Fetching chaotic keys"
          #pacman-key --init && pacman-key --recv-key 0706B90D37D9B881 FBA220DFC880C036 --keyserver keyserver.ubuntu.com && pacman-key --lsign-key 0706B90D37D9B881 FBA220DFC880C036 && pacman --noconfirm -U 'https://geo-mirror.chaotic.cx/chaotic-aur/chaotic-'{keyring,mirrorlist}'.pkg.tar.zst' && echo "[chaotic-aur]" >> /etc/pacman.conf && echo "Include = /etc/pacman.d/chaotic-mirrorlist" >> /etc/pacman.conf
          #pacman-key --populate archlinux chaotic
          mkarchiso -v -w ./work -o ./out ./
          echo "ISO Built in ./out folder!"
          
      - name: Release ISO File
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ env.DATE }}
          prerelease: false
          title: "tcet-linux"
          files: |
            out/*
            
